:root {
  --primary-color: #ffffff;
  --secondary-color: #f65282;
  --subheading-color: #f65282;
  --button-text-color: #272142;
  --link-color: #f65282;
  --background-color: #202020;
  --header-background-color: #202020;
  --footer-background: #282323;

  --button-text-font: "Montserrat", sans-serif;
  --primary-text-font: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-text-font);
  background: var(--background-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  color: var(--subheading-color);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: var(--primary-color);
}

p.bigger {
  font-size: 20px;
  font-weight: normal;
  color: var(--primary-color);
}
.more {
  color: var(--link-color);
}
a.more {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a.more:hover {
  text-decoration: underline;
}

a.btn {
  color: var(--button-text-color);
  background: var(--primary-color);
  opacity: 0.6;
  border-radius: 25px;
  font-family: var(--button-text-font);
  transition: all 200ms ease-in-out;
}

a.btn:hover {
  opacity: 0.9;
  background: var(--secondary-color);
}

ul.inside {
  list-style: inside;
}

ul.none {
  list-style: none;
}

li.outside {
  list-style: outside;
  list-style: none;
}
li {
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
}
.centered {
  text-align: center;
}

.left {
  text-align: left;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 90px;
}

.icons {
  display: inline;
  text-decoration: none;
  color: #ffffff;
}

.small {
  font-size: 12px;
}

.signature {
  font-size: 9px;
  opacity: 0.7;
}
.positioning {
  padding-top: 120px;
}

.rulespositioning {
  padding-top: 120px;
}

.pictureShadow {
  border-radius: 2%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.price {
  font-size: 13px;
  text-align: center;
  border: 1px solid;
  border-color: var(--link-color);
  border-radius: 2%;
  padding: 10px;
}

.roomdesription {
  max-width: 50%;
  margin-left: 40px;
}

.tshadow {
  text-shadow: 1px 1px 2px #202020;
}

.contactInfo {
  font-size: 18px;
  line-height: 22px;
}
.map {
  margin-top: 20px;
  width: 500px;
  height: 300px;
  border: 0;
}

.makeCall {
  display: none;
}
.right {
  text-align: right;
}
.offer {
  max-height: 200px;
  border-color: #f65282;
  border-width: 20px;
  padding-top: 60px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }

  .positioning {
    padding-top: 90px;
  }

  .map {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 0;
  }

  .makeCall {
    display: inline;
  }

  .showcontacts {
    display: none;
  }

  .offer {
    max-width: 340px;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 55px;
    text-align: center;
  }

  .positioning {
    padding-top: 100px;
  }

  .map {
    margin-top: 20px;
    width: 700px;
    height: 350px;
    border: 0;
  }
}
